.About{
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding: 120px 0 120px 0;

}
.About::after{
    clear: both;
    content: "";
    display: block;
}
.About_header span{
    font-size: 40px;
}
.header_bar{
    height: 4px;
    width: 70px;
    background-color: rgb(138, 98, 126);
    margin : 15px auto 70px auto;
}
.profile{
    float: left;
    width: 60%;
}
.skill{
    float: left;
    width: 25%;
}
.profile img{
    width: 200px;
    height: 200px;
}
.profile_img{
    background-image: url("../img/haha.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

.skill ul li{
    float: left;
    margin-right: 30px;
    margin-bottom: 11px;
}
.skillbox{
    width: 216px;
    height: 219px;
    background-size: cover;
    background-position: center;
    border : 1px solid #d9d9d9;
    border-radius: 5px;
}
.skillbox:hover{
    border: 1px solid #0c4da2;
    cursor: pointer;

}
.HTML{
    background-image: url("../img/html.png");
}
.CSS{
    background-image: url("../img/css.png");
}
.JS{
    background-image: url("../img/js.png");
}
.JQ{
    background-image: url("../img/jquery.png");
}
.JAVA{
    background-image: url("../img/java.png");
}
.ORACLE{
    background-image: url("../img/oracle-icon.png");
}
.SPRING{
    background-image: url("../img/spring.jpg");
}
.REACT{
    background-image: url("../img/react.png");
}
.WINDOW{
    background-image: url("../img/window.png");
}
.skillUl{
    width: 70%;
    display: inline-block;
}
.skillUl li{
    display: inline-block;
    margin: 0 40px 40px 0;
    background-color: #f7f7f7;
}
.skillWrap{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
@media screen and (max-width: 1200px){
    .skillWrap{
        width: 100%;
    }
}