.skillSet ul li{
    display: inline-block;
    padding: 0 3px;
    margin: 5px 0 5px 0;
}
.skillSet ul li a{
    width: 190px;
    height: 40px;
    line-height: 40px;
    color: #0c4da2;
    display: block;
    border-radius: 5px;
}
.skillSet{
    margin-bottom: 50px;
}

.skillTab{
    border : 1px solid #d9d9d9;
}
.skillTab:hover{
    color: #0c4da2;
    border-color: #0c4da2;
}
.front{
    color: #0c4da2;
    border-color: #0c4da2;
}
.back{
    color: #0c4da2;
    border-color: #0c4da2;
}

.ect{
    color: #0c4da2;
    border-color: #0c4da2;
}