@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Noto+Sans+KR:wght@300&family=Oswald:wght@200&family=Raleway:wght@500&display=swap');

body,html{
  scroll-behavior: smooth;
}
ul{
  padding: 0;
}
a{
  text-decoration: none;
}
.nav a{
 
  color: #ffffff;
}
.Wrapper{
    height: calc(100vh + 50px);
    position: relative;
}
.canvas{

    background-image: url("../img/banner2.gif");
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.text_remote{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.intro{

    pointer-events: none;
    font-size: 42px;
    color: #ffffff;
}
.intro span{
    color: violet;
}
.nav{
    position: absolute;
    bottom: 0;
}
.nav ul li{
    float: left;
    margin: 0 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;


    font-size: 18px;
}
/* .remote{
    cursor: pointer;
    margin-top: 22px;
    border: 2.5px solid #ffffff;
    display: inline-block;
    padding: 14px;
    font-size: 22px;
    color: #ffffff;
} */

.remote,
.remote::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.remote {
  cursor: pointer;
  background: none;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 22px;
  margin-top: 22px;
  padding: 8px 22px 8px 22px;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  font-family: 'Raleway', sans-serif;  
}

.remote::before,
.remote::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

.remote:hover {
  color: rgb(69, 49, 63);
}

/* .remote 5 */
.remote {
  overflow: hidden;
}

.remote::after {
  /*background-color: #f00;*/
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}

.remote:hover:after {
  height: 100%;
  width: 135%;
}

.nav{
  height: 50px;
  width: 100%;
  text-align: center;
  background-color: rgb(138, 98, 126);
}
.nav ul{
  display: inline-block;
 
}