@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

li{
  list-style: none;
}
body{
  background-color: rgba(36, 35, 35, 1);
  font-family: 'Noto Sans KR', sans-serif;
}

/* App.js의 css */



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/* Nav.js의 css */

.nav{
  
}
.nav-trans{
  position: absolute;
  top: 50%;
  transform: rotateZ(-90deg);
  transform-origin: 0 50%;
  
}
.nav-left h3,.nav-right h3{
  color: #ffffff;
  font-size: 15px;
}

.nav-trans-right{
  position: absolute;
  top: 50%;
  transform: rotateZ(-90deg);
  transform-origin: 50% 0;
}

.nav-left{
  left: 40px;
  position: fixed;
}
.nav-right{
  right: -40px;
  position: fixed;
}


/* Wrapper.js의 css */

.top_home{
 background-image: url('./img/Banner.png'); 
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 height: 100vh;
}

.About{
  height: 100vh;
    width: 100vw;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
.my_info{
  width: 50vw;
    height: 47vh;
    background-color: rgb(4, 2, 29);
    background-image: url('./img/Nwood.jpg');
    display: inline-block;
    position: relative;
}
.my_info::after{
  content: "";
  display: block;
  clear: both;
}

.my_info>img{
  width: 25%;
  max-width: 280px;
  padding: 35px 35px 0 20px;
}
.my_info ul, .my_info>img{
  float: left;
}
.my_info ul{
  color: #ffffff;
  padding: 35px 0 0 40px;
  width: 35%;

}
.my_info ul li{
  font-size: 22px;
  margin-top: 16px;
}

.skill{
  background-size: cover;
  
 
}
.skill{
  width: 3vw;
  position: absolute;
  right: 0;
  bottom: 0;
  color: #ffffff;
  padding: 20px;
  text-align: center; margin-top: 20px;
  cursor: pointer;
}

.skill img{
  width: 100%;
  animation: motion 0.3s linear 0s infinite alternate; margin-top: 0;
}
@keyframes motion{
0% {margin-bottom: 0px;}
100% {margin-bottom: 10px;}
}


/* Skill.js의 css */
.intro{
  background-size: cover;
  
 
}
.intro{
  width: 3vw;
  position: absolute;
  right: 0;
  bottom: 0;
  color: #ffffff;
  padding: 20px;
  text-align: center; margin-top: 20px;
  cursor: pointer;
}

.intro img{
  width: 100%;
  animation: motion 0.3s linear 0s infinite alternate; margin-top: 0;
}
@keyframes motion{
0% {margin-bottom: 0px;}
100% {margin-bottom: 10px;}
}



#html{
  background-image: url('./img/html.png');
}
#css{
  background-image: url('./img/css.png');
}
#javascript{
  background-image: url('./img/js.png');
}
#jquery{
  background-image: url('./img/jquery.png');
}
#react{
  background-image: url('./img/react.png');
}
#java{
  background-image: url('./img/java.png');
}
#oracle{
  background-image: url('./img/oracle-icon.png');
}
#spring{
  background-image: url('./img/spring.jpg');
}
#window{
  background-image: url('./img/window.png');
}
.my_skill{
  width: 50vw;
    height: 47vh;
    background-color: rgb(4, 2, 29);
    background-image: url('./img/gray.jpg');
    display: inline-block;
    position: relative;
}
.my_skill ul{
  width: 100%;
}
.my_skill ul li{
  float: left;
}
.my_skill p{
  margin: 5px 0 5px 0;
}
.skill_image{
  background-color: #ffffff;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
  background-position: center;
}
.icon{
  background-size: cover;
  width: 102px;
  height: 102px;
}

.heading h2{
  font-size: 1.1em;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
figure.snip1200 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 122px;
  max-width: 122px;
  max-height: 122px;
  width: 100%;
  background: #ffffff;
  color: #000000;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  min-height: 122px;
  float: left;
  margin: 20px;
}
figure.snip1200 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
figure.snip1200 img {
  max-width: 100%;
  position: relative;
  opacity: 0.9;
}
figure.snip1200 figcaption {
  position: absolute;
  top: 45%;
  left: 7%;
  right: 7%;
  bottom: 45%;
  border: 1px solid #000000;
  border-width: 2px 2px 0;
}
figure.snip1200 .heading {
  overflow: hidden;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  position: absolute;
  bottom: 0;
  width: 100%;
}



figure.snip1200 p {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  opacity: 0;
  line-height: 1.6em;
  font-size: 0.9em;
}
figure.snip1200 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.snip1200:hover img,
figure.snip1200.hover img {
  opacity: 0.25;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
figure.snip1200:hover figcaption,
figure.snip1200.hover figcaption {
  top: 7%;
  bottom: 7%;
}
figure.snip1200:hover p,
figure.snip1200.hover p {
  opacity: 1;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

/* Intro.js의 css */

.introDuce{
  height: 100vh;
    width: 100vw;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
.context{
  width: 50vw;
    height: 47vh;
    background-color: rgb(4, 2, 29);
    background-image: url('./img/Nwood.jpg');
    display: inline-block;
    position: relative;
}
.context p{
  color: #ffffff;
}


.home{
  background-size: cover;
  
 
}
.home{
  width: 3vw;
  position: absolute;
  right: 0;
  bottom: 0;
  color: #ffffff;
  padding: 20px;
  text-align: center; margin-top: 20px;
  cursor: pointer;
}

.home img{
  width: 100%;
  animation: motion 0.3s linear 0s infinite alternate; margin-top: 0;
}
@keyframes motion{
0% {margin-bottom: 0px;}
100% {margin-bottom: 10px;}
}





